#!/bin/bash

## Predefined environment variables.

# For HA purpose, use an VIP for all API or Management Intefaces.
export CONT_API_IP=10.5.252.100
export CONT_MGMT_IP=10.5.251.100

## The first controller has special meanings.
export FIRST_CONT_HOSTNAME="juno-1"
export FIRST_CONT_IP="10.5.251.3"

## The Managment network.
export CONT_MGMT_NET="10.5.251.0/24"
# This variable is used when setting mysql user authentication.
export CONT_MGMT_NET_2="10.5.251.%"

export NTP_SERVER=$CONT_MGMT_IP
export CONT_VNC_IP=$CONT_API_IP

## Just useful if we use lvm as the storage foundation.
export CINDER_VOLUME_IP=$CONT_MGMT_IP
## This is NOT the hostname of the system, just used in openstack.
export CINDER_VOLUME_HOST="cinder"

####### Used in nova-network ###################
export FLAT_IF=eth1
export FLOAT_IF=eth0

##########       RABBIT & MYSQL      #########
export META_MGMT_IP=$CONT_MGMT_IP
export MYSQL_MGMT_IP=$CONT_MGMT_IP
export MQ_MGMT_IP=$CONT_MGMT_IP
export MEMCACHE_MGMT_IP=$CONT_MGMT_IP
export MONGO_MGMT_IP=$CONT_MGMT_IP

###########        API         #########
export KEYSTONE_API_IP=$CONT_API_IP
export KEYSTONE_MGMT_IP=$CONT_MGMT_IP

export NOVA_API_IP=$CONT_API_IP
export NOVA_MGMT_IP=$CONT_MGMT_IP

export EC2_API_IP=$CONT_API_IP
export EC2_MGMT_IP=$CONT_MGMT_IP

export GLANCE_API_IP=$CONT_API_IP
export GLANCE_MGMT_IP=$CONT_MGMT_IP

export SWIFT_API_IP=$CONT_API_IP
export SWIFT_MGMT_IP=$CONT_MGMT_IP

export CINDER_API_IP=$CONT_API_IP
export CINDER_MGMT_IP=$CONT_MGMT_IP

export NEUTRON_API_IP=$CONT_API_IP
export NEUTRON_MGMT_IP=$CONT_MGMT_IP

export CEILOMETER_API_IP=$CONT_API_IP
export CEILOMETER_MGMT_IP=$CONT_MGMT_IP

export HEAT_API_IP=$CONT_API_IP
export HEAT_MGMT_IP=$CONT_MGMT_IP


###########  neutron  NET NODE     #####
##NET_MGMT_IP=192.168.44.10
##NET_DATA_IP=192.168.44.10
##
##NET_EXT_IF=eth0
##NET_EXT_IP=192.168.44.10
##NET_EXT_NETMASK=255.255.255.0
##NET_EXT_GATEWAY=192.168.44.2
##
#############       COM NODE         ###########
##COM_EXT_IP=10.3.10.50
##COM_MGMT_IP=10.0.0.50
##COM_DATA_IP=10.0.0.50
##COM_EXT_IF=eth0
##COM_DATA_IF=eth1
##
###############  external ###################
##EXT_IP_RANGE=192.168.44.50
##EXT_IP_START=10.3.10.10
##EXT_IP_END=10.3.10.20
##EXT_IP_GW=10.3.10.1
#
