#!/bin/bash

export DEPLOY_TEMP_DIR=/tmp
export DHCP_DOMAIN=test.com

## Whether to use ceph as the storage foundation.
## 1 means Yes, 0 means No
export USE_CEPH=1

## If USE_CEPH=0, then we use lvm as storage foundation.
export LVM_DISK="sdb" ## use 'sdb', DO NOT use '/dev/sdb'
export LVM_DISK_PATH="/dev/$CINDER_VOLUME_DISK"

# dd if=/dev/zero of=/tmp/cinder.disk bs=1M count=1K
# # LOOP_DEVICE=$(losetup -f)  # /dev/loop0
# # losetup $LOOP_DEVICE /tmp/cinder.disk
# # CINDER_VOLUME_DISK=${LOOP_DEVICE##*/}
# # CINDER_VOLUME_DISK_PATH=$LOOP_DEVICE


## Whether to use haproxy as load balance between all apis on controller.
## 1 means Yes, 0 means No
## Not suggest using haproxy.
export CONT_HAPROXY=0


## Whether to use Nova-network's multihost Mode 
## If use multihost mode, nova-network is installed on each compute node.
## If not use multihost mode, nova-network is just installed on controller node.
## This variables has no meaning when using neutron.
## 1 means Yes, 0 means No
export USE_MULTIHOST=0
