#!/bin/bash

export MYSQL_PASS="mysql4test"

export MONGO_ADMIN_USER="mongoadmin"
export MONGO_ADMIN_PASS="mongoadmin4test"

export MQ_PASS="mq4test"

export USER_ADMIN_PASS="admin"
export USER_DEMO_PASS="demo"
export ROLE_DEFAULT="Member"

export KEYSTONE_DB_USER="keystonedb"
export KEYSTONE_DB_PASS="keystonepass"

export GLANCE_DB_USER="glancedb"
export GLANCE_DB_PASS="glancepass"

export CINDER_DB_USER="cinderdb"
export CINDER_DB_PASS="cinderpass"

export NEUTRON_DB_USER="neutrondb"
export NEUTRON_DB_PASS="neutronpass"

export NOVA_DB_USER="novadb"
export NOVA_DB_PASS="novapass"

export CEILOMETER_DB_USER="ceilometerdb"
export CEILOMETER_DB_PASS="ceilometerpass"

export HEAT_DB_USER="heatdb"
export HEAT_DB_PASS="heatpass"
